<div class="date-picker-container relative w-full">
    <div class="handle-buttons flex gap-4 mb-4 items-center text-xs md:text-base">
        <!-- Start Date Input -->
        <div class="button1 flex-1 relative">
            <button (click)="togglePicker()"
                class="w-full p-2.5 border border-[#dedede] rounded-sm flex justify-between items-center hover:cursor-pointer">
                <span class="text-gray-700">
                    {{ formatStartDate() }}
                </span>
                <mat-icon>{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
        </div>

        <!-- End Date Input -->
        <div class="flex-1 relative">
            <button (click)="togglePicker()"
                class="w-full p-2.5 border border-[#dedede] rounded-sm flex justify-between items-center hover:cursor-pointer">
                <span class="text-gray-700">
                    {{ formatEndDate() }}
                </span>
                <mat-icon class="text-gray-500">{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
        </div>
    </div>

    <!-- Calendar Popup -->
    <div *ngIf="isOpen" class="calendar-popup absolute md:right-0 md:top-[100% + 8px] z-1000 rounded-md">
        <div class="p-4 bg-white rounded-lg mb-6 shadow-md">
            <div class="flex gap-8 flex-col">
                <!-- Calendar Header -->
                <div class="flex justify-between items-center mb-3 px-2 gap-4 sm:gap-21">
                    <button (click)="goToPrevMonth()" class="text-gray-600 hover:text-black">&larr;</button>
                    <div class="font-semibold text-gray-800 flex justify-between w-full gap-8">
                        <div>
                            {{ calendarMonths[0] | date: 'MMMM yyyy' }}
                        </div>
                        <div>
                            {{ calendarMonths[1] | date: 'MMMM yyyy' }}
                        </div>
                    </div>
                    <button (click)="goToNextMonth()" class="text-gray-600 hover:text-black">&rarr;</button>
                </div>

                <!-- Calendar Grid -->
                <div class="flex gap-8 sm:flex-row items-center flex-col p-4">
                    <div *ngFor="let month of calendarMonths" class="w-64">
                        <div class="grid grid-cols-7 text-xs text-gray-500 mb-1">
                            <div *ngFor="let d of ['S','M','T','W','T','F','S']" class="text-center">{{ d }}</div>
                        </div>

                        <div class="grid grid-cols-7 gap-1 text-sm">
                            <ng-container *ngFor="let date of getDaysInMonth(month)" class="bg-red-500">
                                <button *ngIf="date"
                                    class="h-8 w-8 rounded-full text-center transition-all duration-200" [ngClass]="{
                                            'bg-black text-white z-10': isSelected(date),
                                            'bg-[#F0F0F0] rounded-none w-15 -translate-x-3.5 flex justify-center items-center': isInRange(date) && !isSelected(date),
                                            'bg-gray-300 text-gray-500 cursor-not-allowed': isBlocked(date),
                                            'text-gray-500 cursor-not-allowed':isPast(date),
                                            'hover:bg-gray-200': !isBlocked(date) && !isPast(date) && !isSelected(date)
                                        }" (click)="onSelectDate(date)" [disabled]="isPast(date) || isBlocked(date)">
                                    {{ date.getDate() }}
                                </button>
                                <div *ngIf="!date"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Time Selection -->
                <div class="flex gap-4 w-full justify-between">
                    <div class="w-1/2">
                        <label class="block font-medium">Pick-up Time</label>
                        <input title="date" type="time" class="border w-full p-2 rounded-md overflow-hidden"
                            [(ngModel)]="pickupTime" (input)="onTimeChange($event, true)" required>
                    </div>
                    <div class="w-1/2">
                        <label class="block font-medium">Drop-off Time</label>
                        <input title="date" type="time" class="border w-full p-2 rounded-md overflow-hidden"
                            [(ngModel)]="dropoffTime" (input)="onTimeChange($event, false)" required>
                    </div>
                </div>
                <!-- Validation error message -->
                <div *ngIf="timeValidationError" class="validation text-red-500 text-sm mt-2">
                    {{ timeValidationError }}
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="flex items-center justify-end m-2 gap-4">
                <button
                    class="w-24 py-2 rounded-lg border border-gray-300 text-gray-700 hover:bg-gray-100 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-200 hover:cursor-pointer"
                    type="button" (click)="closePicker()">
                    Cancel
                </button>
                <button
                    class="w-24 py-2 rounded-lg bg-red-600 text-white hover:bg-red-700 transition-colors focus:outline-none focus:ring-2 focus:ring-red-500 hover:cursor-pointer"
                    type="button" (click)="emitSelected()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>