<app-header></app-header>

<main>
    <h1 class=" ">Choose a Car for Rental</h1>
    <section class="filter">
        <div class="filter-container">
            <div class="filter-row">

                <div class="filter-group">
                    <label>Pick-up location</label>
                    <div class="select-wrapper">
                        <select>
                            <option>Choose location</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Drop-off location</label>
                    <div class="select-wrapper">
                        <select>
                            <option>Choose location</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Pick-up date</label>
                    <div class="select-wrapper">
                        <select>
                            <option>October 29</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Drop-off date</label>
                    <div class="select-wrapper">
                        <select>
                            <option>October 31</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filter-row">
                <div class="filter-group">
                    <label>Car category</label>
                    <div class="select-wrapper">
                        <select>
                            <option>Passenger car</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Gearbox</label>
                    <div class="select-wrapper">
                        <select>
                            <option>Automatic</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Type of engine</label>
                    <div class="select-wrapper">
                        <select>
                            <option>Gasoline</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group price-group">
                    <label>Price per day</label>
                    <div class="price-range">
                        <input type="range" min="52" max="400" value="52">
                        <span class="price-display">$52 - $400</span>
                    </div>
                </div>

                <div class="filter-group button-group">
                    <button class="find-car-btn">Find a car</button>
                </div>
            </div>


            <button class="clear-button">Clear all filters</button>

        </div>
    </section>



    <section class="popular-cars"></section>
    <section class="about-us"></section>
    <section class="our-location"></section>
    <section class="recent-feedback"></section>
    <section class="faq"></section>
</main>

<app-footer></app-footer>