*{
  background-color: #fffbf3;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  background-color: #fffbf3;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 2rem;
}

h2{
  font-size: 2rem;
  font-weight: 300;
  color: black;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.filter {
  border: #e0e0e0 solid 1px;
  border-radius: 10px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 2% 1%;
  background-color: #fffbf3;
}

.filter-container {
  position: relative;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.filter-group {
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 0.7em;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}

.price-range {
  display: flex;
  flex-direction: column;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
  accent-color: #d32f2f;
}

.price-display {
  font-weight: 500;
}

.find-car-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.button-group {
  display: flex;
  align-items: flex-end;
}

.clear-button {
  color: #d32f2f;
  text-decoration: none;
  font-size: 0.9rem;
  border: none;
  position: absolute;
  top: -20px;
  right: -15px;
  background-color: transparent;
  font-weight: 500;
}

@media (max-width: 768px) {
  .filter-group {
    flex: 100%;
  }

  .button-group {
    margin-top: 15px;
  }
}
