<app-header></app-header>

<main>
    <section>
        <h1 class="heading1">Choose Your Car</h1>
        <app-filter></app-filter>
    </section>

    <section class="popular-cars">
        <h2 class="heading2">Popular Cars</h2>
        <app-cards></app-cards>
    </section>
    <section class="about-us">
        <h2 class="heading2">About Us</h2>
        <app-about-us></app-about-us>
    </section>

    <section class="our-location">
        <h2 class="heading2">Our Locations</h2>
        <app-mapview></app-mapview>
    </section>
    <section class="recent-feedback">
        <h2 class="heading2">Feedbacks</h2>
        <app-feedback [cars]="carsData" class="w-full"></app-feedback>
    </section>
    <section class="faq">
        <h2 class="heading2">Frequently Asked Questions</h2>
        <app-faq class="flex justify-center"></app-faq>
    </section>
</main>

<app-footer></app-footer>